.git/*
venv/
.venv
.venv/

__pycache__/
*.py[cod]

*.swp
*.pdf
.idea
.vscode
logs
/lp-lb_N500.dat
/lp-rb_N500.dat
/divd-diff-exp_N500.dat
all_graphs
data
build
builddir
test.py
host#*
